*{box-sizing: border-box;
  margin: 0;
}
.body{
  margin: 0 auto;
}
.lk{ 
 margin-left: 470px; 
 font-size: 18px;
 text-decoration: none;
 color: #0173c1;
}
.header {
 display: flex;
 /* top: -100px;
 left: 0; */
 /* z-index: 10; */
  margin: 0 auto;
 align-items: center;
 justify-content: space-between;
 background: #ac1616;
 height: 80px;
}
.header.fixed{
position: fixed;
transform: translateY(100px);
box-shadow: 1px 1px 0px 1px rgb(226, 221, 221);
}
.nav{
  padding-right: 15px;
  padding-left: 15px;
}
.nav_item{
  margin: 0px 15px;
  text-decoration: none;
  color: #0173c1;
  font-size: 18px;
}
/* -------------------------------------------------------------------------------*/
.container{
  display: flex;
  justify-content: center;
  width: 100%;
  background: #ffffff;
  margin: 0;
}
.wrapper{
  max-width: 1300px;
}
.container2{
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
 } 
 .grid-container{
  display: grid;
/* grid-template-columns: auto auto; */
 grid-template-columns:repeat(2, 1fr);
 gap: 20px;
 background-color: #ffffff;
 padding: 10px;
 width: 700px;
}
.grid-container> div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  box-shadow: 1px 1px 0px 1px rgb(226, 221, 221);
}
.pop_container{
  width: 600px;
}
.grid-item{
  width: 325px;
  height: 200px;
  border-radius: 35px;
}
 .search_container{
  width: 100vw;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.35);
  /* opacity: 0.2; */
  height: 100px;
}
 .search-check{
  float: right;
}
.example{
  text-decoration:none;
  border-bottom: 1px dotted #ffffff;
  color: #ffffff;
}
.button{
  width: 70px;
  height: 50px;
  background:#337ab7;
  border: #2e6da4;
}
.search-example{
  color: #eaf6ff;
  margin-left: 240px;
  margin-right: 240px;
}
.search_form{
 height: 50px;
 width: 1230px;
}
.search{
  display: flex;
  align-items: center;
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 30px;
}

/* #f4f9fb  #eaf6ff  #c1e7d9 */
 .ove{
  margin-left: 30px;
  font-size: clamp(1.7rem, 0.2692rem + 1.4423vw, 2rem);
  /* overflow: hidden; */
 }

.grid-item:hover{
  box-shadow: 0px 0px 3px rgb(195, 189, 189);} 

.style{
  font-family: 'Roboto', sans-serif;
}
.h3{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
.popular{
  text-decoration: none;
  color: #0173c1;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-size: 16px;
  float: left;
}
.popular-item{
  float: left;
}
/*-----------------------------------------------------------------> */
.footer{
  display: flex;
}
.item-arrow{
  transform: scale(-1, 1); 
  margin-left: 30px;
  width: 20px;
  height: 20px;
}
.widget__item{
  display: flex;
}
.one:hover{
  box-shadow: 0px 0px 5px rgb(115, 111, 111);
}
.wid{
  display: flex;
  /* margin-left: 30px; */
  text-decoration: none;
  color: black;
  align-items: center;
  width: 412px;
  height: 95px;
  padding-left: 18px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px rgb(115, 111, 111);
  margin: 30px 30px 30px 0px;
}
.News{
  font-size: 18px;
}
.news1{
  text-decoration: none;
}
.information{
  background: #E6ECEC;
}
.informat{
  display: flex;
  margin-left: 240px;
}
.infor{
  font-size: 14px;
  color: #535b63;
  text-decoration: none;
}
.polz{
  font-size: 30px;
}
.popular{
  margin-top: 40px;
  margin-bottom: 40px;
}
.Portal{
  margin: 30px 0px 30px 0px;
  color: #535b63;
}
.but{
  display: flex;
  background-color: #0173c1;
  border-radius: 4px;
  width: 140px;
  height: 55px;
  color: #ffffff;
  text-decoration: none;
  float: left;
}
.info{
  list-style: none;
  font-size: 20px;
}
.pic{
width: 60%;
height: 100%;
top: 20%;
right: -9%;
}
